body {
  background-color: #e0f7fa; /* Pastell-blau für den Hintergrund */
  color: #00796b; /* Dunkleres Blaugrün für den Text */
  font-family: Arial, sans-serif;
  padding: 50px;
}

.popup {
  width: 100px; /* Größere Breite */
  height: 100px; /* Höhe passt sich dem Inhalt an */
  padding: 10px; /* Mehr Padding für den Inhalt */
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px; /* Abgerundete Ecken */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Tieferer Schatten für 3D-Effekt */
  background-color: #ffffff; /* Weißer Hintergrund für den Popup-Inhalt */
  max-width: 100%; /* Verhindert, dass das Popup zu groß für kleinere Bildschirme wird */
}

h1 {
  color: #004d40; /* Dunkleres Blaugrün für die Überschrift */
  text-align: left;
  font-size: 20px; /* Größere Schriftgröße */
  margin-bottom: 10px; /* Abstand zum nächsten Element */
}


input {
  width: 100%; /* Vollbreite für das Eingabefeld */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 200px;
  border: 2px solid #00796b; /* Blaugrün */
  border-radius: 25px; /* Abgerundete Ecken für das Eingabefeld */
  background-color: #ffffff; /* Weiß für das Eingabefeld */
  color: #00796b; /* Blaugrün für den Text */
  font-size: 16px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für das Eingabefeld */
}

input:focus {
  border-color: #004d40; /* Dunkleres Blaugrün beim Fokus */
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px; /* Abstand von der Liste zum vorherigen Element */
  margin-right: 10px;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #00796b; /* Unterstreichen der Lesezeichen */
}

a {
  text-decoration: none;
  color: #004d40; /* Dunkleres Blaugrün für Links */
  font-weight: bold;
  display: block; /* Block-Element für bessere Klickbarkeit */
  font-size: 15px;
}

a:hover {
  color: #1ac2ae; /* Hellere Blaugrünfarbe bei Hover */
}

#tagSection {
  margin-top: 20px;
  display: none; /* Standardmäßig ausgeblendet */
  text-align: left;
}

#saveTagButton {
  background-color: #00796b;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#saveTagButton:hover {
  background-color: #004d40; /* Dunkler beim Hover */
}
